<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else if .Summary }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="keywords" content="{{ if .Params.tags }}{{ delimit .Params.tags ", " }}{{ else }}{{ delimit .Site.Params.keywords ", " }}{{ end }}">
<meta name="author" content="{{ .Params.author | default .Site.Params.author }}">

<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">

<link rel="canonical" href="{{ .Permalink }}">
